{% extends 'base.html' %}

{% block content %}
<div class="fondo1 content-wrapper">

    <main class="container py-5">
        <section class=" text-dark fw-bold ">
             <h1 class="display-3 text-center">Gestion de Torneos</h1>
             <h5> ¡Bienvenido {{user.username}} a mi proyecto de administración de torneos!</h5>
             <p>
                 Este es un proyecto personal en django, y representa una parte importante de mi portfolio como desarrollador.            
             </p>
             <h5>Caracteristicas principales de la aplicacion</h5>
             <ul>
                <li>
                    <p>
                        Registro y Login de Usuarios: Sistema de registro y autenticación que permite a los usuarios crear cuentas y acceder de manera segura a sus torneos.
                    </p>
                </li>

                 <li>
                     <p>
                         Gestion de clubes: Funcionalidades completas de CRUD (Crear, Leer, Actualizar, Eliminar) para facilitar la gestión de los clubes de la organizacion.
                     </p>
                 </li>

                 <li>
                    <p>
                        Gestion de padron: Funcionalidades completas de CRUD (Crear, Leer, Actualizar, Eliminar) para la gestión de los jugadores de cada club.
                    </p>
                </li>

                <li>
                    <p>
                        Gestion de torneos: Funcionalidades para crear torneos, generando un fixture del mismo con todos los clubes asociado al usuario,
                        permitiendo actualizar el resultado de todos los partidos del fixture.
                    </p>
                </li>

                <li>
                    <p>
                        Tablas de posiciones: Funcionalidades para calcular las tablas de posiciones segun el resultado de los partidos, facilitando el seguimiento de los torneos.
                    </p>
                </li>
 
                 <li>
                     <p>
                         Base de Datos SQLite3: Utilización de SQLite3 como base de datos para almacenar de manera segura y eficiente la información. En produccion se utiliza POSTGRESQL.
                     </p>
                 </li>
                 <li>
                     <p>
                         bootstrap: Utilizacion de bootstrap para los estilos de la aplicacion.
                     </p>
                 </li>
             </ul>
             <p>Gracias por su visita y su interés.</p>
                 
 
             {% if not user.is_authenticated %}
                 <div class="text-center">
                     <a class= "btn btn-dark" href="{% url 'register' %}"> Registrarse</a>
                     <a class= "btn btn-dark" href="{% url 'login' %}"> Iniciar Sesión</a>
                 </div>
             {% else %}
                 <div class="text-center py-2">
                     <a class= "btn btn-dark" href="{% url 'clubHome' %}"> Gestionar clubes</a>
                     <a class= "btn btn-dark" href="{% url 'logout' %}"> Cerrar Sesión</a>
                 </div>
             {% endif %}
         </section>
     </main>
</div>
{% endblock %}